[Unit]
Description=MoneyApp
After=network-online.target postgresql.service
Wants=network-online.target

[Service]
Type=simple
User=__APP_USER__
Group=__APP_GROUP__
WorkingDirectory=__REMOTE_DIR__
EnvironmentFile=__ENV_FILE__
ExecStart=__REMOTE_DIR__/bin/moneyapp
Restart=always
RestartSec=5
NoNewPrivileges=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target
