<app-widget-shell title="Курсы которые проходит" listRoute="/my-learning">
  <mat-list>
    <mat-list-item>
      <div>
        <a routerLink="/learning/e-1"><strong>Python Advanced</strong></a>
        <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
        <small>Прогресс: 70%</small>
      </div>
    </mat-list-item>
    <mat-list-item>
      <div>
        <a routerLink="/learning/e-2"><strong>System Design</strong></a>
        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        <small>Прогресс: 40%</small>
      </div>
    </mat-list-item>
  </mat-list>
</app-widget-shell>
