<mat-card class="widget-shell">
  <mat-card-header class="widget-shell__header">
    @if (listRoute()) {
      <a class="widget-shell__title-link" [routerLink]="listRoute()">{{ title() }}</a>
    } @else {
      <mat-card-title>{{ title() }}</mat-card-title>
    }
  </mat-card-header>

  <mat-card-content class="widget-shell__content">
    @if (loading()) {
      <div class="widget-shell__skeleton">
        <ng-content select="[widget-loading]" />
        <div class="widget-shell__skeleton-default">
          <div class="widget-shell__shimmer widget-shell__shimmer--line"></div>
          <div class="widget-shell__shimmer widget-shell__shimmer--line"></div>
          <div class="widget-shell__shimmer widget-shell__shimmer--line short"></div>
        </div>
      </div>
    } @else if (error()) {
      <p class="widget-shell__error">Данные не подгрузились :(</p>
    } @else if (empty()) {
      <p class="widget-shell__empty">Нет данных</p>
    } @else {
      <ng-content />
    }
  </mat-card-content>
</mat-card>
